/* ----------------------------------------------------------------- */
/* IMAGE BANNER STYLES */
/* ----------------------------------------------------------------- */
/* Banner image */
.banner-image {
    background-image: url(IMAGES/boule-crystal.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0rem 0rem 4rem 0rem;
}
/* Banner text panel */
.banner-text {
    color: black;
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    padding: 1rem;
}
/* Banner header */
.banner-text h1 {
    font-size: 50px;
}
/* Banner paragraphs */
.banner-text p {
    font-size: 26px;
}
/* Banner button */
.banner-text button {
    padding: 12px 26px;
    background: #583D72;
    border-style: solid;
    border-width: 0px 3px 0px 3px;
    border-color: #583D72;
    border-radius: 6px;
    font-size: 24px;
    font-weight: normal;
    color: white;
    box-shadow: -4px 4px 0 0 #FF8E71;
}
/* Banner button hover */
.banner-text button:hover {
    background: #995ab3;
    border-color: white;
}

/* ----------------------------------------------------------------- */
/* POPUP STYLES */
/* ----------------------------------------------------------------- */
/* Overlay des popups (background assombri) */
.popup {
    display: none; /* Hidden by default */
    position: fixed; 
    z-index: 2; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}
/* Boites des popups */
.popupConnexion, .popupInscription {
    background: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 20px;
    text-align: center;
    border: 1px solid #888;
    border-radius: 6px;
}
.popupConnexion {
    width: 33%; 
}
.popupInscription {
    width: 50%;
}
/* Bouton fermer les popups */
.fermerPopup {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.fermerPopup:hover,
.fermerPopup:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* ----------------------------------------------------------------- */
/* CONNEXION POPUP STYLES */
/* ----------------------------------------------------------------- */
.popupConnexion table {
    width: 80%; 
    margin-left: auto; 
    margin-right: auto;
    border-spacing: 12px;
    border-collapse: separate;
}
.popupConnexion td {
    height: 30px;
    color: #583D72;
    font-size: 20px;
    text-align: left;
}
.popupConnexion td[colspan="2"] {
    height: 40px;
    padding: 12px 0px;
}
.popupConnexion input, .popupConnexion div, .popupConnexion button {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.boutonConnecter button {
    width: 100%;
    font-size: 22px;
    height: 40px;
}

/* ----------------------------------------------------------------- */
/* INSCRIPTION POPUP STYLES */
/* ----------------------------------------------------------------- */
.compteGrid {
  display: grid;
  margin: 0px 80px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 6px 50px;
  grid-template-areas:
    "compteInfo compteInfoNom"
    "compteInfoDateNaissance compteInfoCodePostal"
    "compteInfoTelephone ."
    "separateur1 separateur1"
    "compteInfoEmail compteInfoMdp"
    "separateur2 separateur2"
    "boutonInscrire boutonInscrire";
}
.compteInfoPrenom { grid-area: compteInfo; }
.compteInfoNom { grid-area: compteInfoNom; }
.compteInfoDateNaissance { grid-area: compteInfoDateNaissance; }
.compteInfoCodePostal { grid-area: compteInfoCodePostal; }
.compteInfoTelephone { grid-area: compteInfoTelephone; }
.separateur1 { grid-area: separateur1; }
.compteInfoEmail { grid-area: compteInfoEmail; }
.compteInfoMdp { grid-area: compteInfoMdp; }
.separateur2 { grid-area: separateur2; }
.boutonInscrire { grid-area: boutonInscrire; }

.compteInfoPrenom, .compteInfoNom, .compteInfoDateNaissance, 
.compteInfoCodePostal, .compteInfoTelephone, .compteInfoEmail, 
.compteInfoMdp, .separateur1, .separateur2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.compteLabel {
    color: #583D72;
    font-weight: bold;
    font-size: 20px;
    align-self: center;
}
.compteForm {
    margin-left: 18px;
    flex-grow: 1;
    align-self: center;
}
.compteForm input {
    width: 100%;
    font-size: 18px;
}
.separateur1 hr, .separateur2 hr {
    align-self: center;
    width: 80%;
}
.boutonInscrire button {
    width: 100%;
    font-size: 22px;
    height: 40px;
}

/* ----------------------------------------------------------------- */
/* PANEL STYLES */
/* ----------------------------------------------------------------- */
.panel {
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}
.panelContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 30px;
}
#panelMediums {
    width: 60%;
}
#panelCommentaires {
    width: 40%;
}

/* ----------------------------------------------------------------- */
/* LISTE MEDIUMS STYLES */
/* ----------------------------------------------------------------- */
#listeMediums {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}
.itemMedium {
    margin: 10px 0px;
    border-radius: 6px;
    padding: 15px 0px 0px 0px;
    position: relative;
}
.itemMedium[genre="Homme"] {
    background: linear-gradient(90deg, rgba(227, 113, 255, 0.3), rgba(116, 113, 255, 0.3));
}
.itemMedium[genre="Femme"] {
    background: linear-gradient(90deg, rgba(255, 222, 48, 0.3), rgba(232, 48, 37, 0.3));
}
.flexContainerMedium {
    display: flex;
    flex-direction: row;
}
.mediumLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0;   
    flex-shrink: 0;
    flex-basis: 12em;
}
.mediumRight {
    padding-bottom: 15px;
    padding-right: 10px;
}
.imageMedium {
    -webkit-filter: drop-shadow(2px 2px 0 black)
                    drop-shadow(-2px 2px 0 black)
                    drop-shadow(2px -2px 0 black)
                    drop-shadow(-2px -2px 0 black);
    filter: drop-shadow(2px 2px 0 black)
            drop-shadow(-2px 2px 0 black)
            drop-shadow(2px -2px 0 black)
            drop-shadow(-2px -2px 0 black);
    border-radius: 50%;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
}
.typeMedium {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 6px grey;
    font-style: oblique;
    margin: 10px;
}
.denominationMedium {
    font-size: 30px;
    font-weight: bold;
    color: #583D72;
}
.presentationMedium {
    font-size: 24px;
    color: black;
}
.complementMedium {
    color: #555;
    font-size: 22px;
    font-style: oblique;
}

/* ----------------------------------------------------------------- */
/* COMMENTAIRES STYLES */
/* ----------------------------------------------------------------- */
#commentaires {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}
.itemCommentaire {
    margin: 10px 0px;
    border-radius: 6px;
    padding: 15px;
    position: relative;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.07));
}
.nomClientCommentaire {
    color: #583D72;
    font-size: 26px;
    font-weight: bold;
}
.noteCommentaire {
    position: absolute;
    top:0;
    right: 0.5em;
    z-index: 1;
    font-size: 30px;
    color: gold;
}
.contenuCommentaire {
    color: black;
    font-size: 22px;
}